/* Primary Color */
.nex-v3-button:hover,
.nex-v2-portfolio .isotopeFilter li button.active,
.nex-v2-portfolio .isotopeFilter li button:hover,
.nex-v3-post .post-header p a,
.nex-vx-footer .nex-footer-menu li a:hover,
.nex-services-slider .slick-arrow.slick-prev:after,
.nex-services-slider .slick-arrow.slick-next:after,
.current-menu-item .nex-cch,
.nex-vx-main-nav .main-menu > li:hover > a, 
.nex-vx-main-nav .main-menu > li.current-menu-item > a,
.widget .widget-title span,
.widget.nex-widget-vx-twitter ul li a,
.nex-header-bar .nex-socials li a:hover,
.nex-v7-pricing .nex-switch-row,
.nex-v7-pricing .nex-content,
.nex-vx-post .nex-footer .nex-tags li a:hover,
.nex-v7-pricing .nex-footer a:hover,
.nex-cch:hover,
.nex-v2-post .nex-header h2 a:hover,
.nex-cca:after,
.nex-v9-service .nex-footer a,
.nex-v5-pricing.highlight-col .nex-footer a, 
.nex-v5-pricing.highlight-col .nex-content span, 
.nex-v5-pricing.highlight-col .nex-header h3,
.mptt-shortcode-wrapper ul.mptt-menu li a:hover,
.nex-v2-accordion .panel-group .panel-heading a:focus,
.nex-v2-accordion .panel-group .panel-heading a:hover,
.mptt-shortcode-wrapper ul.mptt-menu li.active a,
.nex-vx-footer .logo a span,
.nex-logo h1 a span,
.nex-cc {
    color: #9358ac !important;
}
.nex-v7-pricing .nex-footer a,
.nex-v2-accordion .panel-group .panel .panel-heading:before,
.nex-v2-accordion .panel-group .panel .panel-heading:after,
.nex-title:after,
.nex-v3-button,
.nex-v1-pricing .nex-footer a,
.nex-bgactive.active,
.nex-v9-service .nex-footer a:hover,
.nex-bgch:hover,
.nex-bgca:after,
.nex-bgcb:before,
.nex-bgc {
    background-color: #9358ac !important;
}
.nex-v7-pricing .nex-footer a,
.mptt-shortcode-wrapper ul.mptt-menu li a:hover,
.mptt-shortcode-wrapper ul.mptt-menu li.active a,
.nex-v2-portfolio .isotopeFilter li button.active,
.nex-v2-portfolio .isotopeFilter li button:hover,
.nex-v2-portfolio .nex-cc:hover,
.nex-v2-portfolio .nex-cc.active,
.nex-v1-portfolio .nex-cc:hover,
.nex-v3-button,
.nex-v1-pricing.highlight-col,
.nex-v1-portfolio .nex-cc.active,
.nex-v9-service .nex-footer a,
.nex-bch:hover,
.nex-bcf:focus,
.nex-v5-pricing.highlight-col .nex-footer a,
.nex-v5-pricing.highlight-col .nex-header, 
.nex-v5-pricing.highlight-col,
.nex-bc {
    border-color: #9358ac !important;
}

/* Secondary color */
.nex-v6-pricing .nex-footer a:hover,
.nex-v6-pricing.highlight-col .nex-footer a,
.nex-cch2:hover,
.nex-cca2:after,
.nex-cc2 {
    color: #9358ac !important;
}
.nex-v6-pricing.highlight-col,
.nex-v6-pricing .nex-footer a,
.nex-bgactive2.active,
.nex-bgch2:hover,
.nex-bgca2:after,
.nex-bgcb2:before,
.nex-bgc2 {
    background-color: #9358ac !important;
}
.nex-v6-pricing .nex-footer a:hover,
.nex-bch2:hover,
.nex-bcf2:focus,
.nex-bc2 {
    border-color: #9358ac !important;
}
.mptt-shortcode-wrapper .mptt-shortcode-table tr.mptt-shortcode-row th {
    color: #fff;
    background-color: #9358ac !important;
}

/* Double Color */
.nex-testimonials-slider .slick-dots li button:hover,
.nex-testimonials-slider .slick-dots li.slick-active button,
.nex-vx-slider .slick-dots li button:hover,
.nex-vx-slider .slick-dots li.slick-active button,
.nex-services-slider .slick-dots li button:hover,
.nex-services-slider .slick-dots li.slick-active button,
.nex-bglrh:hover,
.nex-bglr {
    background-image: linear-gradient(45deg, #9358ac 0%, #9358ac 100%);
}
.bg-image:before {
    background-image: linear-gradient(-225deg, #9358ac 0%, #9358ac 100%);
}
.nex-bgrl {
    background-image: linear-gradient(-45deg, #9358ac 0%, #9358ac 100%);
}
.nex-v7-pricing .nex-header-title h4 {
    background-image: linear-gradient(-90deg, #9358ac 3%, #9358ac 100%);
}